
  /*
  placeHolder css
  */
  input {
    
    border: #000;
    padding: 10px;
    font-size: 1.2em;
    width: 100%;
    
    
  }
  label, input {
    font-family: sans-serif;
    background:#F0F8FF;
    ;
  
  }
  form {
    width: 200%;
    
  }
  
  input::placeholder {
    color: Black;
  }
  
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: Black;
    opacity: 1; /* Firefox */
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: Black;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: Black;
  }
  
  
  
  /* white line */
    span {
    display: inline-block; /* Can remove if span:before width doesn't matter. */
    width: 15%;    

  }
  
  